{% extends "layout.html" %}

{% set bodyId = "page-ideas" %}

{% block title%}
<title>Ideias - Casa Criativa</title>
<link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/page-ideas.css">
<link rel="stylesheet" href="/styles/modal.css">
{% endblock %}

{% block content %}
<header>
    <a href="/">
        <img src="/assets/logo.png" alt="Imagem da logo">
    </a>
    <nav>
        <li><a href="/">Início</a></li>
        <li><a href="#" onclick="onOff()" class="button">Nova Ideia</a></li>
    </nav>
</header>

<section id="title">
    <p>em exibição</p>
    <h1>Ideias</h1>
</section>

<main>
    <section id="ideas">
        {% include "all_ideas.html" %}
    </section>

</main>

<footer>
    Com ❤️ <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a>
</footer>

{% endblock %}